@import "header";
@import "top";
@import "page";
@import "footer";
@import "variables";




// 共通パーツ
body {
    font-family: 游明朝, YuMincho, 游明朝体, 'Yu Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', HiraMinProN-W3, HGS明朝E, 'ＭＳ Ｐ明朝', 'MS PMincho','Times New Roman', serif;
}
// ハンバーガーメニュー
.sp-global-menu {
  display: none;
  @include tab {
    display: block;
  }
}

@include tab {
    .button {
        display: inline-block;
        text-decoration: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      
      
      .hamburger {
        position: fixed;
        top: 5px;
        right: 10px;
        z-index: 3;
        width: 48px;
        height: 48px;
        outline: none;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        &:hover,
        &:focus {  
      }
      }
      
      
      .hamburger__line {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 18px;
        height: 2px;
        background-color: white;
        -webkit-transition: inherit;
                transition: inherit;
        &::before,
        &::after {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: inherit;
          content: '';
          -webkit-transition: inherit;
                  transition: inherit;
        }

 
      }
      
      .hamburger__line::before {
        top: -5px;
      }
      .hamburger__line::after {
        top: 5px;
      }

      .hamburger[aria-expanded="true"] .hamburger__line {
        background-color: transparent;
        &::before,
        &::after {
        top: 0;
        background-color: black;
      }
      }
      .hamburger[aria-expanded="true"] .hamburger__line::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      
      .hamburger[aria-expanded="true"] .hamburger__line::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      
      .sp-global-menu {
        position: fixed;
        width: 100vw;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100vh;
        // background-color: #000;
        background-image: url(../image/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        visibility: hidden;
        padding-top: 30px;
        text-align: center;

        nav {
          padding-top: 100px;

          li {
            padding-bottom: 70px;
            font-size: 25px;
            color: black;
          }
        }
      }
}

.hamburger-scroll {

}

.global-menu {
 
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    &__ttl {
      font-size: 30px;
      color: black;
    }

  }


  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
    background-color: #978F10;
    line-height: 80px;


    &__img {
      width: 27px;
      height: 27px;
      margin-right: 10px;
    }

    &__txt {
      font-size: 20px;
      color: white;
    }
  }
}

.hamburger__line_bg-color {
  background-color: black;
}

.hamburger__line::before {
  top: -5px;
}
.hamburger__line::after {
  top: 5px;
}

.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
  top: 0;
  background-color: black;
}
}


// パンくずリスト
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 88px;
  @include sp {
    height: 50px;
  }
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-size: 16px;
  line-height: 88px;
  @include sp {
    font-size: 13px;
    line-height: 50px;
  }
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: black;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}




// ファーストビューCSS
@keyframes zoom {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(1.1);
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .swiper-wrapper {

      .swiper-slide {
          overflow: hidden;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }
      
      //Prevスライド
      .swiper-slide-prev,
      //Activeスライド
      .swiper-slide-active,
      //ループ時に複製される正面のスライド
      .swiper-slide-duplicate-active {

          img {
              animation-name: zoom;
              animation-duration: 8s;
              animation-fill-mode: forwards;
          }
      }
  }
}


// モーダル
/* モーダルCSSここから */
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity : 0;
  position: fixed;
  z-index: 10; /* サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 550px;
  max-width: 550px;
  padding: 29px 60px 90px;
  background-color: #fff;
  border: 1px solid #707070;
  @include sp {
    width: 80%;
    padding: 29px 20px 40px;
  }
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.is-show { /* モーダル表示用クラス */
  visibility: visible;
  opacity : 1;
}

// モーダルデザイン
.modal__ttl {
  font-size: 20px;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid #E7E7E7;
  text-align: center;
  @include sp {
    padding-bottom: 25px;
  }
}

form {
  padding-top: 36px;
  padding-bottom: 64px;
  @include sp {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}

dd {
  padding-top: 14px;
  padding-bottom: 14px;
  &:last-child {
    padding-bottom: 0;
  }
}

input,
.plan-select {
  width: 100%;
  color: #797878;
  padding: 9px 9px 9px 10px;
  font-size: 14px;
  border: 1px solid #E7E7E7;
  @include sp {
    font-size: 13px;
  }
}

dt,label{
  font-size: 16px;
  font-weight: normal;
  @include sp {
    font-size: 14px;
  }
}

.dt_small {
  font-size: 14px;
}

.submit__btn {
  margin: 0 auto;
  width: 198px;

  & input {
    text-align: center;
    height: 42px;
    font-size: 16px;
    border: 1px solid #707070;
    color: black;
  }
}

.news__wrapper {
  display: none;
}

.show {
  display: block;
}

.active {
  color: black;
  border-bottom: 1px solid black;
}


